@model DevnotHotelReservation.Entity.Model.User
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Kayıt Sayfası</h2>
        @ViewBag.Message
        @using (Html.BeginForm("SaveUser", "User", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", placeholder = "E-mail" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Sifre" })
            </div>
            <button type="submit" class="btn btn-success btn-block">Kayıt Ol</button>
        }

    </div>
</body>
</html>